:root{
    --color-header: #ffffff;
    --color-body: #f2f4f6;
    --color-footer: #031632;
    --color-letras-body: #000000;
    --color-links: #567ab5;
    --color-botones: #00ccf9;
    --color-letras-botones: #005266;
    --color-letras-botones2: #007ab5;
    --color-fondo-botones-hover1: #2892c3;
    --color-fondo-botones-hover2: #e6e6e6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type = "radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid var(--color-letras-body);
}

input[type = "radio"]:checked{
    background-color: var(--color-botones);
    border-color: var(--color-botones);
}

input[type = "radio"]::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.1s ease;
}

input[type="radio"]:checked::before {
    background-color: white;
}

.contenedor-inputs {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
}

.input-grupo input, .input-grupo select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%; 
    background-color: white; 
    font-family: 'AvantGarde', sans-serif;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.radio-group label {
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    
}

.radio-group label {
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding-bottom: 6px;
}
.radio-group label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
}


.radio-group label:first-of-type {
    margin-right: 15px;
}

input[type="radio"]:checked + label::after {
    background-color: #00b4d8; 
}

input[type="radio"]:checked + label {
    color: #00b4d8; 
}
