@import url('../base/tipografia.css');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}


.header {
    background-color: #ffffff; 
    padding: 15px 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

.header-logo-container {
    display: flex;
    align-items: center;
    gap: 12px; 
}

h1 {
    font-family: 'Chunky', sans-serif; 
    font-size: 40px;
    color: #001f3f; 
    margin: 0;
}

.header nav {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.headerNav-link {
    font-family: 'AvantGarde', sans-serif;
    color: #333333; 
    text-decoration: none;
    font-size: 16px;
    font-weight: bold; 
    transition: color 0.3s ease;
    cursor: pointer;
}

.headerNav-link:hover {
    color: #00b4d8; 
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;         
    padding-top: 60px; 
    padding-bottom: 50px;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../../../img/fondoBody.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainContent {
    text-align: center;
    margin-bottom: 30px; 
}

.mainContent h2 {
    font-family: 'Chunky', sans-serif; /* Tu fuente instalada */
    font-size: 45px;
    color: #001f3f;
    margin-top: 0;
    margin-bottom: 15px;
}

.mainContent p {
    font-size: 18px;
    color: #333333;
    margin: 0;
}

.seleccionador {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    width: 100%;
    max-width: 800px; /* Ancho máximo de la tarjeta */
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.modal-legal {
    border: none;
    border-radius: 12px;
    padding: 0;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    margin: auto;
    position: fixed;
}

.modal-legal::backdrop {
    background-color: rgba(0, 31, 63, 0.7);
    backdrop-filter: blur(4px);
}
.modal-header {
    background-color: #001f3f;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    padding: 30px;
    font-family: 'AvantGarde', sans-serif;
    color: #333;
    line-height: 1.6;
}
.lista-legal {
    padding-left: 20px;
    margin-top: 15px;
}
.lista-legal li {
    margin-bottom: 12px;
}